<div style="display: flex; align-items: center; justify-content: center;"></div>
<div style="font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 1.6;
        color: #222;
        width: fit-content;
        max-width: 90%;
        margin: 20px;">
  <div style="background: #F0F0F5;
              box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
              border-radius: 8px;
              padding: 30px;
              width: 100%;">
    {{{ body }}}
    <br />
    Atenciosamente, <br />
    Equipe FastFeet
  </div>
  <br />


</div>